* {
    box-sizing: border-box;
}

.container {
    border: 2px solid grey;
    padding: 25px;
}

.box {
    border: 2px solid grey;
    height: 25px;
    margin-bottom: 24px;
}

.box-large {
    border: 2px solid grey;
    width: 47%;
    height: 125x;
}

.box-tiny {
    border: 2px solid grey;
    height: 25px;
    width: 30%;
}

.row {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.tiny-wrapper{
    display: flex;
    justify-content: space-between;
}
.box-wrapper {
    width: 47%;
}